[Unit]
Description=Hadoop Namenode
After=network.target

[Service]
#EnvironmentFile=/etc/conf.d/hadoop
Type=forking
RuntimeDirectory=pids
PIDFile=/var/run/pids/hadoop-hdfs-datanode.pid
ExecStart=/opt/hadoop/sbin/hadoop-daemon.sh --config /etc/hadoop start datanode
User=hdfs
Group=hadoop

[Install]
WantedBy=multi-user.target
